body {
    background-color: #e3f9e1 !important;
}
.btn-primary {
    background-color: #138f04 !important;
    border-color: #138f04 !important;
}
.btn-link {
    color: #138f04 !important;
}
.btn-link:hover {
    color: #1d68a7;
    background-color: transparent;
}
.btn-link:hover {
    color: #0f7503 !important;
    font-weight: 700;
}
.card{
    border: 1px solid rgba(141, 193, 136,1) !important;
}
.card-header {
    background-color: rgb(175, 241, 169) !important;
    border-bottom: 1px solid rgb(141, 193, 136)!important;
}
