.activiti-full table{width: 100%;}
.activiti-full table tr td {padding: 5px 5px;font-size: 13px;}
.activiti-full table tr{border:1px solid #D9E4E6}
.activiti-full table tr th{text-align:center;background:#137707;color:#fff;font-weight:600;padding:5px 0px;border-right:1px solid #d9d9e459}
activiti-full table tr td{text-align:center;word-wrap:break-word;max-width:7em;padding:5px 15px}
.activiti-full table tr td{display:table-cell;border-right:1px solid #D9E4E6;border-right:1px solid #d9d9e459}
.activiti-full table tr td:nth-child{display:table-cell;border-right:0px solid #D9E4E6}
.activiti-full table tr:nth-child(2n){background-color:#EAF3F3}
