.col{
	float:left;
}
.smd1{
	 width:100%;
	 }

.smd2{
	 width:50%;
	 }


.smd3{
	 width:33.33333333333333%;
	 }

.smd4{
	 width:25%;
	 }

.smd5{
	 width:20%;
	 }

.gutter{
	padding:5px;
}


/*************/
.grid{
	width:100%;
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	
}


 .grid ul {
     padding:0;
     margin: 0;
     list-style:none;
     width:100%;
     float:left;
}
 .grid li{
     display:block;
     margin:0;
     float:left;
     -webkit-transition: all .4s;
     -moz-transition: all .4s;
     -ms-transition: all .4s;
     -o-transition: all .4s;
     transition: all .4s;
	
	
}
/***************************************************************/

/*************HOVER EFFECT*******/
.hover-effect{
	width:100%;
	float:left;
	position:relative;
	overflow:hidden;
	
}
.hover-effect i{
	width:50px;
	height:50px;
	background-color:#009209;
	color:#fff;
	position:absolute;
	left:50%;
	top:-100px;
	z-index:1;
	line-height:50px;
	text-align:center;
	margin:0 0 0 -25px;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	
}
i.linkico{background: url(../images/linkico.png) no-repeat center $green;}
i.zoom{background: url(../images/pop.png) no-repeat center $green;}
.hover-effect:hover i{
	
	top:50%;
	margin:-25px 0 0 -25px;
}
.hover-effect i img {
    width: 22px;
    display: inline-block;
    margin-top: 14px;
}	
.hover-effect img {
	 width:100%;
	 display:block;
  -moz-transition: all 0.99s ease;
  -o-transition: all 0.99s ease;
  -webkit-transition: all 0.99s ease;
  transition: all 0.99s ease;
  
     filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.01);
  	
	  
}
.hover-effect:hover img {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  

	  
	 /* filter: gray;*/ /* IE5+ */
      /*-webkit-filter: grayscale(1);*/ /* Webkit Nightlies & Chrome Canary */
     /* -webkit-transition: all .8s ease-in-out*/;  
	  

}

.hover-effect:after {
   background:#FFF;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  opacity: 0.7;
  -webkit-transform: skew(45deg) scaleX(0);
  -ms-transform: skew(45deg) scaleX(0);
  transform: skew(45deg) scaleX(0);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hover-effect:hover:after {
  -webkit-transform: skew(45deg) scaleX(1);
  -ms-transform: skew(45deg) scaleX(1);
  transform: skew(45deg) scaleX(1);
  -moz-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
 
    opacity: 0.1;

}


/***********************640 px *************************************/
 @media only screen and (max-width: 768px) {

.smd2, .smd3, .smd4, .smd5 {
     width:50%;
     
}

}
 @media only screen and (max-width: 480px) {

.smd2, .smd3, .smd4, .smd5 {
     width:100%;
     
}

}