﻿@font-face {
    font-family: 'SourceSerifProRegular';
    src: url('../fonts/SourceSerifPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Georgia, "DejaVu Serif", Times, "Times New Roman", serif !important;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4 {
    font-family: "Ubuntu", "Roboto", Helvetica, Arial, sans-serif !important;
    font-weight: normal;
    color: #fcfafa;
    text-align: center;
}

h2, h3 {
    text-align: left;
    color: #485C60;
}

@media (max-width: 768px) {
    .qqq {
        padding-right: 40px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
        line-height: 1.5;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }

    .pheader {
        font-size: 16px;
    }

    .highlight {
        font-size: 10px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 1.6;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .pheader {
        font-size: 18px;
    }

    .highlight {
        font-size: 16px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }
}

.pheader {
    font-family: "Ubuntu", "Roboto", Helvetica, Arial, sans-serif;
    color: #fcfafa;
    text-align: center;
    font-style: italic;
    color: #485C60;
}

a, a:hover, a:focus {
    color: #56A46E;
}

.tc-active > a, .tc-active > a:focus {
    color: #344244 !important;
}

.tc-menu > li > a:hover {
    background-color: #fff !important;
    transition: background .25s ease-out,color .25s ease-out;
}

.tc-submenu > li > a {
    text-transform: uppercase;
    font-size: smaller;
}

.tc-header-y0 {
    background-color: #fff !important;
    transition: background .25s ease-out,color .25s ease-out;
}

.tc-header-y {
    background-color: #f9f9f9 !important;
    transition: background .25s ease-out,color .25s ease-out;
}

.navbar-default {
    background-color: #fff;
}

    .navbar-default .navbar-brand {
        color: #56A46E;
    }

.navbar-brand {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif !important;
    font-size: 24px;
    line-height: 26px;
    color: #56A46E;
}

    .navbar-brand > small {
        color: #485C60;
    }

    .navbar-brand:hover {
        color: #485C60;
    }

        .navbar-brand:hover > small {
            color: #56A46E;
        }

.navbar-default .navbar-nav > li a {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif !important;
    color: #56A46E;
}

    .navbar-default .navbar-nav > li a:hover,
    .navbar-default .navbar-nav > li a:focus {
        background-color: #f9f9f9;
        color: #56A46E;
        text-decoration: none;
    }

.tc-shop {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif !important;
    color: #F15129 !important;
}

.navbar-toggle {
  border-radius: 0px;
}
.navbar-default .navbar-toggle {
    border: 0;
}

    .navbar-default .navbar-toggle:hover {
        background-color: #fcfafa;
    }

    .navbar-default .navbar-toggle:focus {
        background-color: #4f4f4f;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #56A46E;
    }

.tc-menudivider {
    border-top: 1px solid #e7e7e7;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse.bs-navbar-collapse {
        display: none !important;
    }
}
/***************************************************************************/
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #56A46E;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #56A46E;
    background-color: #fff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #344244;
    background-color: #fff;
  }
}
/***************************************************************************/
.img-thumbnail {
    border: 2px solid #7f7f7f;
    border-radius: 0;
    margin-bottom: 4px;
}

    .img-thumbnail:hover {
        border-color: #F15129;
        text-decoration: none;
    }

.navbar-brand > img {
    display: inline;
}



@media (max-width: 768px) {
    .tc-home-page h1 {
        font-size: 30px;
        line-height: 1.6;
    }

    .tc-home-page p {
        font-size: 18px;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .tc-home-page h1 {
        font-size: 36px;
        line-height: 1.8;
    }

    .tc-home-page p {
        font-size: 18px;
        line-height: 1.2;
    }
}

@media (min-width: 992px) {
    .tc-home-page h1 {
        font-size: 48px;
        line-height: 2;
    }

    .tc-home-page p {
        font-size: 24px;
        line-height: 1.5;
    }
}

/*general presentation*/
h3 > span {
    color: #56A46E;
    font-size: 0.8em;
}


.tc-features a {
    font-size: 14px;
}

.pInstructions {
    position: relative;
    margin-top: 5px;
    color: #485C60;
    font-style: italic;
    font-weight: 500;
    text-align: center;
}

.tc-features-list li {
    line-height: 2;
    /list-style-position: inside;
}

.tc-features-list ul, .tc-features ul {
    padding: 20px;
}

.tc-features-list-center {
    text-align: center;
}


li > span {
    color: #56A46E;
    font-size: 0.6em;
}

.tc-features-list a {
    margin: 10px auto 50px;
}

@media (max-width: 768px) {
    .tc-features li, .tc-features-list li {
        font-size: 14px;
        line-height: 1.7;
    }

    .tc-features-list h3 {
        margin-top: 30px;
    }

    .tc-features h2, .tc-all-features h2 {
        margin-top: 30px;
    }
}

@media (min-width: 768px) {
    .tc-features li {
        font-size: 18px;
        line-height: 1.8;
    }

    .tc-features-list h3 {
        margin-top: 50px;
    }

    .tc-features h2 {
        margin-top: 0;
    }
}

@media (min-width: 992px) {
}

/*exemples*/



/*documentation*/


/*release notes*/
/*End - Documentation*/