

.drop{
	width:23%;
	float:right;
	margin:0 0 5px 0;
}

.tab-wrap{
	width:100%;
	float:left;
	}


.group::after, .tabBlock-tabs::after {
  clear: both;
  content: "";
  display: table;
}

*, ::before, ::after {
  box-sizing: border-box;
}



ol, ul {
	margin:0;
}



.unstyledList, .tabBlock-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tabBlock-tabs {
	text-align:left;
	width:100%;
	float:right;
}
.tabBlock {
  margin: 0;
  
}

.pad2{
  padding: 10px 20px;}
/***********/

.tabBlock-tab {
    color: $black;

    text-align: center;
    width: auto; font-size: 15px;
    display: inline-block;
    padding: 17px 0px;
    margin: 0px 20px 0px 0px;
    line-height: 21px; float: left;
    cursor: pointer; 
}


.tabBlock-tab.is-active {
  position: relative;
  color: $green;
  z-index: 1;
    border-bottom: 0px;
      
    
}
.tabBlock-tab.is-active:after{width: 100%; float: left; height: 3px; background: $green; content: ''; position: absolute;bottom: 0px; left: 0px;}
.tabBlock-tab:hover a{color:#fff;}
.tabBlock-tab.is-active a{color: #fff; background: #ed1c24;}


.ficileft {
    width: 100%;float:left;
	 position:relative;
}

.departarrow{margin-bottom:20px; float:left; width:100%;}
.tabBlock-content {
 position: relative;
  float:left;
  width:100%;
  padding:50px;
  background: #f4f4f4; border: 1px solid #e0e0e0;
 
}

.tabBlock-pane > :last-child {
  margin-bottom: 0;
}

.tabBlock-content h1 {
	color:#91BF15;
	font-size:24px;
	margin:0 0 25px 0;
	padding:0;
}

.tabBlock-content h2 {
	color:#8c3682;
	font-size:20px;
	margin:0 0 25px 0;
	padding:0;
}
.tabBlock-content p {

	margin:0 0 25px 0;
	padding:0;
}

/***********************640px *************************************/
@media only screen and (max-width: 640px) {

.tabBlock-tab {
  padding: 10px 10px;
  border-bottom:1px solid #F1F1F1;
  
 
}

}
/***********************480px *************************************/
@media only screen and (max-width: 480px) {


.drop{
	width:100%;

}

.tabBlock-tabs, .tabBlock-content {
	text-align:left;
	width:100%;
	float:left;
}
.tabBlock-tab {
 font-size:12px;
 
}

.tabBlock-content {
margin-top:20px;
 
 
}

}
/***********************640px *************************************/
@media only screen and (max-width: 360px) {

.tabBlock-tab {
  padding: 10px 10px;
  border:0;
   margin:1px 0;
   width:100%;
  float:left;
}

}