ul.sub-menu a { font-size: 18px !important; }
.aniPos ul.sub-menu a { font-size: 12px !important; }

.current_page_item a, .current-menu-item a { color: #7eb828 !important; }
.current_page_item a:hover, .current_page_item li a:hover, .current-menu-item a:hover { color: #7eb828 !important; }
footer .current_page_item a, footer .current-menu-item a { background: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; color: #fff !important; }
.sitmpee .current_page_item a { color: inherit !important }
footer .current_page_item a:hover, footer .current-menu-item a:hover { background: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; color: #ff970a !important; }
.current_page_item li a { color: #7eb828 !important; background: none; }
a.menu-link { color: #000; display: block; text-decoration: none; height: 22px; width: 35px; }
.menu-link:hover span { border-color: #666; }
.menu, .menu > ul, .menu > ul ul { clear: both; flex-flow: column; }
.menu.active1 { background: #000; border-bottom: 1px solid #074373; border-top: 1px solid #074373; margin: 1em 0 1em -12px; max-height: 55em; width: 100vw; }
.js .menu > ul ul.active1 { margin: 0; max-height: 55em; padding: 0; }
.menu > ul { padding: 0; }
nav li { display: inline-block; margin: 0; position: relative; }
.menu li a { font-family: $ralewaysb; color: #000; text-transform: uppercase;
	display: inline-block; font-size: 14px; line-height: 30px; padding:10px 16.5px 0 0; text-decoration: none; white-space: nowrap; }
li.menu-item-has-children a { padding-right: 23px !important; }
.menu > ul > li:last-child a { padding-right: 0; }
span.has-subnav { display: block; color: #fff; font-size: 1em; line-height: 34px; position: absolute; padding: 0 0.5em; cursor: pointer; right: 7px; top: -2px; ; width: 30px; height: 30px; background:url(images/dpDownArrow.png) no-repeat center center; }
/*===============  Navigation Toggle  ===================*/



#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { cursor: pointer; border-radius: 1px; height: 5px; width: 35px; position: absolute; display: block; content: ''; }
#nav-toggle span , #nav-toggle span:before, #nav-toggle span:after { background: #84c126; }
 #nav-toggle span::before { top: 8px;}
#nav-toggle span:after { bottom: -16px; }
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after { transition: all 500ms ease-in-out; }
#nav-toggle.active1 span { background-color: transparent; }
 #nav-toggle.active1.active1 span::before, #nav-toggle.active1.active1 span::after {
 top: 11px;
}
#nav-toggle.active1 span:before, #nav-toggle.active1 span:after { top: 0; }
#nav-toggle.active1 span:before { transform: rotate(45deg); }
#nav-toggle.active1 span:after { transform: rotate(-45deg); }


.menuD {    float: left;    width: auto;   padding-top: 13px;}


 @media screen and (min-width: 875px) {
/*############################ Menu ##############*/
a.menu-link { display: none;}
 .js .menu, .js .menu > ul ul { max-height: none; overflow: visible;}
 .js .menu > ul li:hover > ul { display: flex;
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);}
 .menu ul { float: left; margin: 0; padding: 0;}
 nav > ul > li:last-child { padding-right: 0;}
 .menu > ul > li > a { position:relative}
 .menu span.has-subnav {     width: 14px;
    height: 11px;
    background: url(../images/dropdown-icon.png) no-repeat 0 0;
    position: relative;
    float: right;
    top: 19px;
    right: 8px;
}
 .menu li a:hover { color:#7eb828;}


.menu ul ul { background: #ffffff;
    border-radius: 0;
    border: 0;
    border-radius:0;
    height: auto;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-align: left;
    left: 0;
    top: 40px;
    width: 217px;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.12);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s;
    transform: translate3d(0, 15px, 0);}
 .chrome .js .menu > ul ul { top: 43px;}
 .menu ul ul.wide { width: 300px;}
 .menu ul ul li { border-bottom: solid 1px #efefef;
    display:block;
    position: relative;
    padding-right: 0;}
 .menu > ul ul li:last-child { border-bottom: none;}
 .menu ul ul li a { display: block; padding: 5px 10px; font-size: 12px;}
/*Menu ends*/



}

 @media screen and (max-width:874px) {
.menu.active1 {right: 0;}
.aniPos .menu {top: 76px;}
 .menu {z-index: 999999 !important;right: 0;margin: 0 0 0 !important;position: absolute;top: 93px;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
transition: all 0.4s;
width: 100%;}
span.has-subnav {text-indent: -99999px;background: url(../images/dropdown-icon-white.png) no-repeat 50% 50%;top: 0;}
 a.menu-link {float: right;}
 .menu, .menu > ul ul {margin: 0;max-height: 0;overflow: hidden;}
 .menu li a {border-bottom: 1px solid #07ab11;display: block;padding: 5px 15px;    color: #fff;}
 .menu li li a {padding-left: 50px;}
 .menu li:last-child a {border: none;}
 .menu li li:last-child a {border-bottom: 1px solid #07ab11;}
 .menu li:hover {background: #0e4571;}
.current_page_item a:hover, .current_page_item li a:hover, .current-menu-item a:hover {    color: #000 !important;}

/*Menu Ends*/



 .navigate .menu-item-has-children > span {display: block;right: 2%;position: absolute;width: 40px;height: 40px;background: url(images/dpDownArrow.png) no-repeat center center;top: 8px;cursor: pointer;}
 .navigate .menu-item-has-children:hover > ul {display: none;}
 .menu ul li {background:#009209;display: block;float: left;padding: 0 0;width: 100%;}
 .sub-menu {float: left;margin: 0;padding: 0;position: inherit;top: inherit;width: 100% !important;}
 .sub-menu li {width: 100%;padding: 0%;}
 .menu li a {    font-size: 20px; padding: 0px 20px;}
 .sub-menu li a {border-bottom: 1px solid #1aaf24 !important;font-size: 17px !important;padding: 0px 32px !important;width: 100%;}
 .sub-menu ul li {background: none repeat scroll 0 0 #666;display: block;padding: 16px 10px;}
 .sub-menu .sub-menu {float: left;position: static;padding: 0;margin: 0;}
 .sub-menu .sub-menu li {padding: 0;margin: 0;}
 .sub-menu .sub-menu li a {padding-left: 9%!important;background: #414141;}
 .sub-menu .menu-item-has-children a {background-image: none;}
 .sub-menu .menu-item-has-children a:hover {background-image: none;}
 .sitmpee .sub-menu li a {background-position: 0 1px;font-size: 16px !important;line-height: inherit !important;padding: 0 22px !important;}
 .sitmpee .sub-menu li a:hover {background-position: 0 1px !important;}
 .sitmpee li a {font-size: 16px;background-position: 0 2px;}
 .sitmpee li a:hover {font-size: 16px;background-position: 0 2px;}
}

@media screen and (max-width:767px) {
	.menu {top: 135px;
	li{
		a {color: #fff;}
	} 
	}
	.menuD {float: right;padding-right: 0;}

}