@import "reset";
@import "menu";
@import "settings";
@import "lightslider";
@import "tabs";
@import "lightgallery";
@import "hovereffect";
@import "glasscase.min";




/*div, span, header, img{-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
		transition: all 0.4s;}*/
header{-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;}
header{position: absolute; left: 0; right: 0; top: 0; z-index: 199;background: rgba(255, 255, 255, 0.85); border-bottom: 1px solid rgba(255, 255, 255, 0);
	.logo{float: left; padding: 13px 0 0;
		img{width: 158px;}
	}
	.logorgt{float: right; /*width: 74.4444%;*/ padding:25px 0 0 0;
		.navtop{
			.phnemail{float: left;
				.pHne{background: url(../images/icons2.png) no-repeat -1px 4px; padding-left: 23px;}
				.maIl{background: url(../images/icons2.png) no-repeat 7px -21px;padding-left:35px;}
				li{display: inline-block;
					a{color: #000; font-size: 15px; padding-right: 4px; &:hover{color: $lightgreen;} }
				}
			}
			.logpanel{float: right;
				li{display: inline-block; color: $black;
					a{    font-size: 13px;text-transform: uppercase;padding:3px 5px 0 1px;display: inline-block; color: $black; font-family:$ralewayb; &:hover{color: $lightgreen;} }
					.ShOPoNline{background:$green; color:$white;font-size: 12px;text-transform: uppercase;padding: 0px 11px;display: inline-block;margin-left: 10px; font-family:$ralewaysb; &:hover{background-color: $lightgreen; color: $black;}}
				}
			}
		}
	}

}

.aniPos{position: fixed; background:$white; border-color: #eee;
	.logo{
		img{width: 108px;}
	}
	.logorgt{padding: 13px 0 0 0;}
	.menuD{padding-top: 0px;}

}
header.aniPos .menu li a {color:$black;}
header.aniPos .logorgt .navtop .phnemail li a{color:$black;}
header.aniPos .logorgt .navtop .logpanel li a{color:$black;}
header.aniPos .logorgt .navtop .phnemail .pHne { background: url(../images/icons2.png) no-repeat -1px 4px;}
header.aniPos .logorgt .navtop .phnemail .maIl {	background: url(../images/icons2.png) no-repeat 7px -21px;}
.banner {height: 100vh; position: relative;
	.bannerslide{height: 681px;background-repeat: no-repeat;background-size: cover;background-position: center top;}	
	.bannercaptions {padding: 20px;margin-top: 228px;width: 660px;background:rgba(0, 0, 0, 0.23);
		.bannerhead {font-size:50px;text-transform: uppercase;line-height: 56px; font-family: $ralewayr; color: $white;margin-bottom: 0px;
			span{font-size:50px;text-transform: uppercase;line-height: 73px; font-family: $ralewayb; color: $white;}
		}
	}
}

.latestnews{position: relative;
	&::before{content: ""; position: absolute; left: 0; top: 0; height: 57px; background: $green; width: 50%; z-index: -1;}
	&::after{content: ""; position: absolute; right: 0; top: 0; height: 57px; background: $lightgreen; width: 50%;z-index: -1;}
	span{ height: 57px;float: left;text-transform: uppercase;font-size: 18px;text-align: center;width: 190px;padding: 16px 0 0 0;font-family: $ralewaysb;color: #fff;background: $green;}

	marquee{ float: left;width: 80%;height: 57px;padding: 16px 0 0;background: $lightgreen;}
	.newslist{
		li{color: $white; font-size: 16px; display: inline-block;    padding-left: 50px;
    padding-right: 30px; background:url(../images/newsicon.png) no-repeat 0 5px; font-family: $opensans;}
	}}

.sec1{text-align: center; padding: 74px 0 68px;background: #fff;
	p{width: 70%;margin: 22px auto 40px;}
}

.sec2{text-align: center;padding: 56px 0 64px;background:#fafbfc url(../images/pattern.png) repeat 0 0 fixed; background-size: contain;
}


.productslist{margin: 43px 0 59px;
		li{width: 23.77%; margin: 0 1.6% 0 0;display: inline-block; &:last-child{margin:0;} float: left;}
		.prdtimg {height: 293px;width: 100%;background: #fff;display: flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;
	    display: flex;align-items: center;justify-content: center;border: 1px solid #e0e0e0;}
	    .prdtname {height: 72px;width: 100%;padding: 0 20px;line-height: 20px;color: #fff;display: flex;align-items: center;justify-content: center;font-size: 18px;background: #009209;}
		a{text-decoration: none;border-radius: 15px;width: 100%; float: left;
    box-shadow: 0px 1px 1px 0px rgba(44, 49, 59, 0.15);
    position: relative;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
        display: inline-block;
    &:hover {-webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    -ms-box-shadow: 0px 0px 39px 2px rgba(236, 236, 236, 1);
    -o-box-shadow: 0px 0px 39px 2px rgba(236, 236, 236, 1);
    box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    	.prdtname{background: #62ab02;}
    }
}
}


.sec3{margin:57px 0;
	.healthtip{width: 598px; height:473px; position:relative; float: left;
		.healthytitle{position: absolute; left: 0; right:0; bottom: 0; height: 132px; padding:21px 22px 20px 27px;background: rgba(255, 255, 255, 0.84); border:1px solid rgba(255,255,255,0.75);}
			.healthycvr{float: left; width: 400px;}
			.readmore{float:right;padding: 8px 19px;margin: 22px 0 0;}
			.smallhead{font-family: $ralewayb;color: $green;font-size:20px;font-weight: normal;line-height:30px;margin-bottom:2px;text-transform: uppercase;}
			p{font-size: 17px;}
		}
		&:hover{
			.healthytitle{background:$white;border-color: #eee;}
		}
	.nEwsents {float: right;width: 602px;padding: 36px 46px 0 44px;background:#fff url(../images/pattern.png) repeat fixed;height: 473px; text-align: center; background-size: contain;
		.readmore{margin-top: 20px;}
		li{padding-bottom: 12px;padding-top: 12px; border-bottom: 1px solid $green; &:last-child{border-bottom: 0;}}
		.heading {text-align: center;margin-bottom: 24px;}
		.newsimg{float: left; height: 98px;width: 98px;}
		.newscontent{float: right;width: 387px; min-height: 98px; overflow: hidden;
			span{font-style: italic;font-size: 13px;display: inline-block;line-height: 18px; font-weight: bold;}
			p{margin-bottom: 0;}
			}
		marquee{max-height: 259px;}
	}
}

.sec4 {text-align: center;    padding: 39px 0 26px; background:#fff;}

.bloglist{margin: 22px -13px;
	li{display: inline-block;width: 48%; margin: 0 10px;
		.blogcvr{width: 585px; height: 385px;    background-size: 100%;-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
			.blogleft{display: flex;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;align-items: center;justify-content: center; width: 354px;height: 385px; background: rgba(255, 255, 255, 0.75); border:1px solid rgba(255, 255, 255, 0.75);    -moz-transition: all 0.4s;
				-ms-transition: all 0.4s;
				-o-transition: all 0.4s;
				transition: all 0.4s;}
				.vmidle{padding: 0 22px;}
				.bloghed{text-transform: uppercase;font-size: 20px;color: #000;line-height: 21px;font-family: $ralewayb;}
				p{}
				.readmore:hover{}
		}
		&:hover {
			.blogleft{background:$white; border-color:#eee;}
			.blogcvr{background-size: 105%;}
		}
	}
}

.sec5 {text-align: center;padding: 125px 0 111px; background:#fafbfc url(../images/pattern.png) repeat fixed; background-size: contain;
	.heading{margin-bottom: 23px;}
	
}

.testimonialcvr{width: 62%;margin: 0px auto; position: relative;
		&::before{background: url(../images/slidercontrols.png) no-repeat 0 -29px;content: "";position: absolute;left: -95px;top: -52px;width: 60px;height: 50px;}
		&::after{background: url(../images/slidercontrols.png) no-repeat -83px -29px;content: "";position: absolute;right: -105px;bottom: 35px;width: 60px;height: 50px;}
		p{font-size: 16px; margin-bottom: 16px;line-height:23px; }
		span{font-size: 17px; font-family: $ralewayb; font-style: italic;}
		.tetimoSlider{
			.lSSlideWrapper{padding-bottom: 64px;}
			.lSAction{position: absolute; left: 0; right: 0; bottom: 0;}
			.lSAction>a{background:$white url(../images/slidercontrols.png) no-repeat; position: static; width: 38px; height: 38px; border:1px solid #999;display: inline-block;margin: 0 7px; border-radius: 0; &:hover{background-color: $green; border-radius: 0;}}
			.lSAction>.lSPrev {background-position: -23px 6px;}
			.lSAction>.lSNext {background-position: -77px 6px;}

		}
	}

footer{padding: 62px 0 0; background: $white;    border-top: 1px solid #d2d1d1;
	p{font-size: 15px; line-height: 27px; margin-bottom: 13px;}
	.footerlogo{margin-bottom: 23px;display: block;}
	.phnemail{float: left;
				.pHne{background: url(../images/icons2.png) no-repeat 1px 4px; padding-left: 33px; margin-bottom: 9px;}
				.maIl{background: url(../images/icons2.png) no-repeat 1px -23px;padding-left:37px;}
				li{display: inline-block;
					a{color:$black;; font-size: 15px; padding-right: 4px; &:hover{color: $lightgreen;} }
				}
			}
	.qklinks, .prdctinks{margin-top:7px;padding-left: 10px;
		li{display: inline-block; width: 32.9%;    margin-bottom: 5px;
			a{font-size: 15px; color: #000; &:hover{color: $green;} }
		}
	}
	.ftrhed{font-size: 16px; text-transform: uppercase; font-family: $ralewayb;margin-bottom: 16px; display: block;}
	.fotdrs {width: 31%;float: left;}
	.qklinks {float: right;width: 63%;}
	.prdctinks {float: left;width: 37%;
	li{width: 100%;}}
	.social{
		span{text-transform: uppercase; float: left;}
	}
	.copyrgt{display: inline-block;clear: both;width: 100%;margin-top: 53px;padding: 19px 0;border-top: 1px solid #999;
		p{float: left;font-size: 16px;margin-bottom: 0;}
	}
}


.innerbanner {margin-top: 105px;height: 200px;background-size: cover;background-position: center bottom;text-align: center;position: relative;display: flex;align-items: center;justify-content: center;
	&::before {content: '';position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0, 146, 9, 0.68);z-index: 0;}
	.wid {position: relative;}
	.innerheading {font-size: 30px;text-transform: uppercase;color: #fff;font-weight: normal;margin-bottom: 0;line-height: 34px;}
	.brdcrum {width: 100%; float: left; text-align: left; position: absolute; bottom: -50px;
	li {display: inline-block;color: #fff;text-transform: uppercase;font-size: 14px;line-height: 21px; background: url(../images/arrowb.png) no-repeat right center; padding-right: 16px;
		a{font-size: 14px;line-height: 21px;color: #fff;text-decoration: none; &:hover{color: $lightgreen;}
		}
	}}
	.phnemail{float: right;    position: absolute; right: 0px; margin-top: 24px;
		.pHne{background: url(../images/icons.png) no-repeat -1px 4px; padding-left: 23px;}
		.maIl{background: url(../images/icons.png) no-repeat 7px -21px;padding-left:35px;}
		li{display: inline-block;
			a{color: #fff; font-size: 15px; padding-right: 4px; text-decoration: none; &:hover{} }
		}
	}
	
}
.innerbanner .brdcrum li:last-child{background: none;padding-right: 0px;}
.innerbanner .wid{width: 100%; position: relative;}
.innercontentarea {
    padding: 50px 0;
}
.innersubhead {
    font-size: 16px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 30px;margin-top: 20px;
}
.abtsec{text-align: center; position: relative; padding-bottom: 63px;
	&::before {
	    content: "";
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
	    height: 4px;
	    border-top: 1px solid #cfd2da;
	    border-bottom: 1px solid #cfd2da;
	}
	p{width: 77%; margin: 0px auto;}
}
.abtsec1 {  width: 100%; float: left; padding: 41px 0px 0px 0px;
	.abtsec1-left{width: 38%; float: left;
	}
	.abtsec1-right{width: 58.5%; float: right; }
}
.innercontentarea2{background: $light-gray;width: 100%; float: left;  padding: 53px;
.incont2-left{width: 37%; float: left;}
.incont2-right{width: 59%; float:right;}
.inc-heading{font-size: 31px; color: $green; font-family: $ralewaysb;  margin-bottom: 15px;}
}

.innercontentarea3{width: 100%; float: left; padding: 53px;
	.incont2-left{width: 59%; float: left;text-align: right; padding-left: 5%;}
	.incont2-right{width: 37%; float:right;}
	.inc-heading{font-size: 31px; color: $green; font-family: $ralewaysb;  margin-bottom: 15px;}
	}
section.abt-bottom{width: 100%;  padding: 70px 0px 40px 0px; float: left; background: url(../images/abtbottombg.jpg) no-repeat top center;
.abtbottom-right{width: 32%; float: right;
	.abtbt-head{font-size: 31px; font-family: $ralewaysb; text-transform: uppercase;color: $white; margin-bottom: 15px;}
	ul{margin: 0px; padding: 0px; list-style: none;    width: 100%;float: left;margin-bottom: 25px;
	li{color: $white; background: url(../images/abtbt-icon.png) no-repeat left center; padding-left: 30px;}
	}
}

}
.innerfoot{padding-top: 50px; width: 100%; float: left;}
.productSec{width: 100%; float: left;    padding-top: 50px;
.product-left{width: 23.7%; float: left;border: 1px solid #e0e0e0; border-top: 0px !important;
.product-lefthead{background: $green; color: $white; font-size: 17px; font-family: $ralewaysb; text-transform:uppercase;  width: 100%; position: relative;
	float: left;text-align: center;padding: 9px 0px;
&:after {
    width: 13px;
    height: 13px;
    position: absolute;
    content: '';
    left: -11px;
    top: 0px;
    background: url(../images/prohed-l.png) no-repeat top left;
}
&:before {
    width: 13px;
    height: 13px;
    position: absolute;
    content: '';
    right: -11px;
    top: 0px;
    background: url(../images/prohed-r.png) no-repeat top left;
}
}
	ul{margin: 0px; padding: 0px; list-style: none; width: 100%; float: left;
	li{width: 100%; float: left; background: url(../images/product-list.png) no-repeat left 9px center; padding: 7.5px 0px 7.5px 40px;
		border-bottom: 1px solid #e0e0e0;
	a{color: $black; font-size: 14px; text-decoration: none;    -webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-ms-transition: all 0.4s;
		-o-transition: all 0.4s;
		transition: all 0.4s;
	&:hover{padding-left: 5px; color: $green}
	}
	&:last-child{border-bottom: 0px;}
 }
 li.active a{color: $green;}
	}
}

.product-left.newlist{

	ul{
		li{background: url(../images/product-list2.png) no-repeat left 9px center; padding: 7.5px 0px 7.5px 40px;
		
		&:last-child{border-bottom: 0px;}
	 }
	 li.active a{color: $green;}
		}
}
.product-right { width: 74.2%; float: right;
	.prodLeftTop {width: 100%;	float: left;
		.produSerForm{width: 100%;	float: left;
			.proFrm-left{width: 66%; float: left;position: relative;
			.serchproinput{height: 35px; border: 1px solid #e0e0e0;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #7e7e7e; font-size: 14px;
				  }
				  &::-moz-placeholder { /* Firefox 19+ */
					color: #7e7e7e; font-size: 14px;
				  }
				  &:-ms-input-placeholder { /* IE 10+ */
					color: #7e7e7e; font-size: 14px;
				  }
				  &:-moz-placeholder { /* Firefox 18- */
					color: #7e7e7e; font-size: 14px;
				  }
			}
			.serchbtn{width: 40px; height: 35px; background: url(../images/search-top.png) $green no-repeat center center;    text-indent: -1000px;border: none;position: absolute;right: 0px;top: 0px;}
		}
		.proFrm-right{float: right;
		select{width: 110px; float: right;height: 34px; border: 1px solid #e0e0e0;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #7e7e7e; font-size: 14px;
			  }
			  &::-moz-placeholder { /* Firefox 19+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-ms-input-placeholder { /* IE 10+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-moz-placeholder { /* Firefox 18- */
				color: #7e7e7e; font-size: 14px;
			  }
			margin-left: 10px;
			}
			
		}
		
	
	}
}
.product-listing{width: 100%; float: left;
	.productslist{ margin: 30px 0 0px;
		 li { width: 32.3%; margin: 0 1.5% 25px 0;text-align: center;float: left;
		&:nth-child(3n){margin-right: 0px;}
		a{float: left; width: 100%;}
		}
	 }
	 }
	 .product-listing.smallProducts{
		.productslist{ 
			li { width: 22%; margin: 0 4% 25px 0;text-align: center;float: left;
		 &:nth-child(4n){margin-right: 0px;}
		 a{float: left; width: 100%;}
		 }
		 .prdtname {height: 56px;line-height: 20px;font-size: 14px;}
		 .prdtimg {height: 223px;overflow: hidden;}
		}

	 }
	}
}
.activity-main{width: 100%; float: left;
	.activiti-full{border-bottom:1px solid #d4d3d3; width: 100%; float: left; position: relative;    padding-bottom: 40px;padding-top: 40px;
	&:after{width: 64px; height: 2px; background: $green; position: absolute; content:''; left: 50%; margin-left: -32px; bottom: -1px;}
.activiti-left {width: 49%; float: left;
	.activity-head {
    font-size: 18px;
    text-transform: uppercase;
    color: #40a738;
    margin-bottom: 10px;
}
p{line-height: 30px;}
}
.activiti-right{width:46.5%; float: right;}
	}
	.activiti-full:nth-child(2n) .activiti-right{float: left;}
	.activiti-full:nth-child(2n) .activiti-left{float: right;}
.rw-list{margin: 0px; padding: 0px; list-style: none;
li{display: inline-block;display: inline-block;
    padding: 2px 10px;
    background: #f5f5f5;
    margin-bottom: 7px;
    border: 1px solid #d8d8d8;
a{text-decoration: none; color: $black; font-size: 13px;}
}
}
.activity-main { width: 100%;  float: left;}
.raw-mat-right {width: 80%;float: right;}
.raw-mat-left{width: 18%;float: left;}
}
a.scltop {
    position: fixed;
    width: 30px;
    height: 30px;
    bottom: 33px;
    right: 34px;
    background: url(../images/topn.png) no-repeat center #137707;
    z-index: 10;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 33px; text-indent: -100px; overflow: hidden;
}
.contact-main{width: 100%; float: left;
	.contact-form{max-width: 725px; width: 100%; margin: 0px auto; text-align: center;
		h1{text-transform: uppercase; font-size: 30px; font-family: $ralewayb; text-align: center;}
		.cont-input{width: 100%; height: 40px; background: #fafafa; border: 1px solid #e3e3e3; display: inline-block; margin: 0px 0px 16px 0px; padding-left: 10px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #7e7e7e; font-size: 14px;
			  }
			  &::-moz-placeholder { /* Firefox 19+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-ms-input-placeholder { /* IE 10+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-moz-placeholder { /* Firefox 18- */
				color: #7e7e7e; font-size: 14px;
			  }
		}
		.contacttextariea{width: 100%; height: 120px; background: #fafafa; border: 1px solid #e3e3e3; display: inline-block; margin: 0px 0px 10px 0px;
			&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				color: #7e7e7e; font-size: 14px;
			  }
			  &::-moz-placeholder { /* Firefox 19+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-ms-input-placeholder { /* IE 10+ */
				color: #7e7e7e; font-size: 14px;
			  }
			  &:-moz-placeholder { /* Firefox 18- */
				color: #7e7e7e; font-size: 14px;
			  }
		}
		.cont-input.split{width: 48%; float: left;
		&:first-child{margin-right: 3.4%;}}
		.formdiv{width: 100%; float: left; position: relative;}
		.formdiv-split {position: relative;
			width: 49%;
			float: left;
			margin-right: 2%;
	}
		.right{float: right !important;}
		.Cont-btn{background: $green; color: $white; border: 0px; font-size: 17px; font-weight: 700; padding:10px 20px; text-transform: uppercase;display: inline-block;
		&:hover{background: $lightgreen;}
		}
		hr{width: 100%;
			float: left;
			background: #f000;
			border-bottom: 1px solid #009209;
			border-top: 0px;
			margin-bottom: 15px;}
			span{color: $green; font-size: 12px;float: left;margin-bottom: 5px;}
			span.invalid-feedback{position: absolute;
				font-size: 11px;
				right: 10px;
				bottom: -10px;
				color: #f00;
				font-weight: normal;
				font-family: $opensans;}
	} 
	.has-error input {
    border: 1px solid #eb0000 !important;
}
.has-error textarea {
	border: 1px solid #eb0000 !important;
}
	.contact-pers{width: 100%; float: left; text-align: center;margin-top: 60px;
		ul{margin: 0px; padding: 0px;
		li{display: inline-block;width: 22%;  margin-bottom: 25px;margin: 0px 1% 25px 1%;
		.conta-details{width: 100%; float: left; margin-top: 10px;font-size: 16px; font-weight: 700; color: $black; text-transform: uppercase;
		span{width: 100%; display: block; color: $gray; text-transform: capitalize;}
		
		}
		}
		}
	}
}
.login-main{width: 100%; float: left;
.login-left{width: 38%; float: left;
	.login-head{font-size: 21px; color: $black; background: url(../images/logico.png) no-repeat left center; font-weight: 600;    padding-left: 40px;
    margin-bottom: 30px;}
label{color: $gray; font-size: 13px;}
.log-input{width: 100%; height: 40px; background: #fafafa; border: 1px solid #e3e3e3; display: inline-block; margin: 0px 0px 10px 0px;}
.logbtn{background: $white; color: $green; border:2px solid $green;width: 100%; font-size: 17px; font-weight: 700; padding:10px 20px; text-transform: uppercase;display: inline-block;    margin-top: 15px;margin-bottom: 15px;
	&:hover{background: $lightgreen; color: $white}
	}
span{color: $gray; font-size: 12px;}
a{float:right; color: crimson; font-size: 12px; background: url(../images/reset.png) no-repeat left center;padding-left: 25px;}
}
.login-right{float: right;width: 50%;}
}
.product-detailsin{
	
.productdet-left {	width: 47%;float: left;position: relative;}
.productdet-right {width: 53%;float: right;position: relative;
	.pro-rigt-top{width: 100%; float: left; border-bottom: 1px solid #e5e2dd;
	.prodet-head{font-size: 23px; color: $green; font-weight: 700; margin-bottom: 10px;}}
	.pro-rigt-bottom{width: 100%; float: left; margin-top: 20px;
	.somedia{width: 100%; float: left;
	a{display: inline-block; margin: 0px 5px;}
	}
	.star{width: 100%; float: left;
	ul{margin: 0px; padding: 0px; list-style: none;margin-top: 5px; margin-left: 9px; display: inline-block;
	li{background: url(../images/starl.png) no-repeat center; width: 16px; height: 15px;display:inline-block;margin: 0px 5px; cursor: pointer; }
	li.active{background: url(../images/stary.png) no-repeat center;}
	}
	}
	}
table{width: 100%; float: left;    border: 1px solid #d9d9d9; text-align: center; margin-top: 20px;
	tr {border: 1px solid #D9E4E6;
		th{text-align: center;
			background: #137707;
			color: #fff;
			font-weight: 600;
			padding: 5px 0px;
			&:first-child {
				display: table-cell;
				
				border-right: 1px solid #D9E4E6;
		}
		&:nth-child(2) {
			display: table-cell;
		
			border-right: 1px solid #D9E4E6;
	}
		}
		td {
			text-align: center;
			word-wrap: break-word;
			max-width: 7em;
			padding: 5px 15px;
			&:first-child {
				display: table-cell;
				
				border-right: 1px solid #D9E4E6;
		}
		&:nth-child(2) {
			display: table-cell;
		
			border-right: 1px solid #D9E4E6;
	}
	}

	}
	tr:nth-child(2n) {
    background-color: #EAF3F3;
}
}
}
.product-tab {
	width: 100%;
	float: left;
	margin-top: 30px;
}
}
.tenters-main{width: 100%; float: left;
.tenters-full{width: 100%; float: left; position: relative;    padding-bottom: 30px;padding-top: 30px;
	.stenter-left { width: 50%; float: left;background: #e7e7e7; padding: 20px;}
.stenter-right{width:42%;float: right; 
	ul{margin: 0px; padding: 0px; list-style: none;
	li{width: 100%; float: left; border-bottom: 1px dashed #000; position: relative;position: relative;  padding: 12px 110px 12px 0px;
	a{position: absolute; right: 0px; top: 50%; margin-top:-19px; }
	}
	}
}
&:after{width: 100%;position: absolute; left: 0px; bottom: 0px;height: 3px; content:''; border-bottom: 1px solid #e4e3e3;
	border-top: 1px solid #e4e3e3;}
}
.tenters-full.new{

	.stenter-right{width:100%;float: left; 
		ul{margin: 0px; padding: 0px; list-style: none;
		li{width: 100%; float: left; font-family: $ralewaysb; border-bottom: 0px; position: relative;position: relative;  padding: 12px 0px 12px 0px;
		p{font-family: $ralewaysb;
		span{font-size: 14px; width: 100%; float: left; background:url(../images/product-list.png) no-repeat left center;    padding-left: 28px;}
	
		}
			span{float: left; max-width: 100%;}
			a{position: relative; float: left; margin-bottom: 5px; margin-top: 0px; margin-right: 5px;}
			span.smalldownld{
				a{background: $green;
					color: #fff;
					text-decoration: none;
					font-size: 12px;
					padding: 0px 31px 0px 9px;
					min-width: 51px;
					position: relative;
					margin-right: 15px;
					margin-top: 12px;
				img{position: absolute; right: -5px; bottom: 0px;;}
				}
	 
			 }
		}
		}
	}
}
}
.gallery-tab{width: 100%; float: left;
	.vediolist{width: 100%; float: left ; margin: 0px; padding: 0px; list-style:none; text-align: center;
	li{width: 32%; display: inline-block;}
	}
	.tabBlock-tabs{ text-align: center;    float: inherit;
	.tabBlock-tab{float: inherit; margin: 0px 0px 20px 0px; font-size: 16px; text-transform: uppercase; font-weight: 600;padding: 15px 25px; background: #b2deb5;}
	.tabBlock-tab.is-active{background: $green; color:$white; padding: 15px 25px;position: relative;
	
	&:after{position: absolute;content: '';bottom: -11px; left: 50%; margin-left: -9px; width: 18px; height: 11px; background: url(../images/doar.png) no-repeat center}}
}
}
.news-box{float:left;width:32%; margin-right: 2%; margin-bottom: 20px;
.news-main{float:left;width:100%;min-height: 436px;position: relative;
.date{width:55px;height:60px;z-index:1;position:absolute;right: 0px;}
.day{float:left;width:100%;background: $lightgreen;;text-align:center;font-size:20px;padding:6px 0;font-weight:bold;color:#fff;}
.right-date{width:55px;height:60px;z-index:1;position:absolute;right:20px;top:-20px;}
.month{float:left;width:100%;background:#fff;text-align:center;color:#000;font-size:12px;font-weight:bold;padding:3px;}
.news-content{border:1px solid #dbdbdb;padding:20px;min-height: 236px;
	h2{font-size:17px;color:$black;margin-bottom:5px;line-height: 25px;}
	p{margin-bottom:10px;font-size:14px;line-height:22px; max-height: 66px; min-height: 66px; overflow: hidden;}
	a{padding:5px 24px 5px 13px; font-size: 13px;
		&:hover{color:$black;}
	}
}
}
&:nth-child(3n){margin-right: 0px;}
}
.news-details{	width: 100%; float: left;
	.news-main{
	.ImageWrapper{width:45%; float: left;position:relative;
	img{width: 100%; float: left;}
	}
	.news-content{width: 55%; float: right; min-height: auto;
		p{min-height: auto; overflow: inherit; line-height: 26px; max-height: inherit;}
	}
}
}
.ImageWrapper{-webkit-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-moz-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-ms-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);-o-box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.25);display:block;overflow:hidden;position:relative;line-height:0px;}
.ImageWrapper .ImageOverlayH{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5);bottom:0;display:block;height:100%;left:0;opacity:0;position:absolute;right:0;top:0;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;width:100%;}
.ImageWrapper .StyleLi{visibility:hidden;margin:0;opacity:0;position:absolute;text-align:center;bottom:0;width:100%;-webkit-transition:all 0.3s ease 0s;-moz-transition:all 0.3s ease 0s;-ms-transition:all 0.3s ease 0s;-o-transition:all 0.3s ease 0s;transition:all 0.3s ease 0s;}
.ImageWrapper:hover .StyleLi{margin-bottom:-20px;opacity:1;bottom:40%;visibility:visible;}
.blog-img{width: 40%; float: left;}
.blog-details{width: 58%; float: right;}
.smallhead {
	color:$green;
	font-size: 20px;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 2px;
	text-transform: uppercase;
}
.main_heading{color:$green;font-size: 35px;}
ul.pagination {
	width: 100%;
	float: left;
	text-align: center;
}

ul.pagination li {
	display: inline-block;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	color: $green !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color: $green !important;
	border-color:$green !important;
	color: $white !important;
}

.pagination>li>a, .pagination>li>span {
	color:$green !important;
}

.com-list{
	li{
		width: 100%;
    float: left;
    background: url(../images/product-list.png) no-repeat 0 9px;
    padding: 7.5px 0px 7.5px 35px;
		 text-align: left;
		a{color: #000;
			font-size: 14px;
			text-decoration: none;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
		&:hover{padding-left: 5px;
			color: #009209;}
		}
	}
}
.ad-list{width: 100%; float: left;
li{width: 32%;
	float: left;
	background: #fff;
	margin-right: 2%;
	padding: 20px;
	min-height: 192px;
	margin-bottom: 35px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.28);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.28);
	&:nth-child(3n){margin-right: 0px;}
	h3 {
    font-size: 20px;
		line-height: 27px;
    margin-bottom: 13px;
    color: #138f04; 
}
img{width: 100%; float: left; margin-bottom: 15px;}
p {
	margin-bottom: 0px;
}
}

}


.factorySlider {
	position: relative;padding-bottom: 34px;
	li {
		position: relative;
		img{
			width:100%;
		}
		span {
			position: absolute;
			left: 0;right:0;
			background: rgba(0, 0, 0, 0.7);
			bottom: 0;
			font-size: 15px;
    padding: 6px 10px;
			text-align: left;
			color: #fff;
	}
}

}
.factorySlider.lSSlideOuter .lSPager.lSpg {
	bottom: 0;display:none !important;
}
.factorySlider .lSAction>a {
	background: rgba(255,255,255,0.9) url(../images/slidercontrols.png) no-repeat;
	width: 38px;
	height: 38px;
	border: 1px solid #999;
	display: inline-block;
	margin-top: -31px;
	border-radius: 0;
}
.factorySlider .lSAction>.lSPrev{    background-position: -23px 6px;}
.factorySlider .lSAction>.lSNext{    background-position: -77px 6px;}
.innercontentarea3 .inc-heading {
	text-align: left;
}
/*****************************************************************************************/
.innersubhead2 {
	width: 100%;
	float: left;
	text-align: center;
	font-size: 27px;
}
.headsmaler {
	width: 100%;
	float: left;
	margin-top: 15px;
	color: $green;
	font-size: 20px;
}
.contentsmaller {
	width: 100%;
	float: left;
	margin-top: 15px;
	padding-left: 25px;
	p{margin-bottom: 15px;
	span{color: $green; font-family: $ralewaysb;width: 100%; display: inline-block;  font-size: 18px;}
	}
}
table{width: 100%; float: left;    border: 1px solid #d9d9d9; text-align: center; margin-top: 20px;
	tr {border: 1px solid #D9E4E6;
		th{text-align: center;
			background: #137707;
			color: #fff;
			font-weight: 600;
			padding: 5px 0px;
			&:first-child {
				display: table-cell;
				
				border-right: 1px solid #D9E4E6;
		}
		&:nth-child(2) {
			display: table-cell;
		
			border-right: 1px solid #D9E4E6;
	}
		}
		td {
			text-align: left;
			word-wrap: break-word;
			max-width: 7em;
			padding: 5px 15px;border-right: 1px solid #D9E4E6;
			&:first-child {
				display: table-cell;
				
				border-right: 1px solid #D9E4E6;
		}
		&:nth-child(2) {
			display: table-cell;
		
			border-right: 1px solid #D9E4E6;
	}
	}

	}
	tr:nth-child(2n) {
    background-color: #EAF3F3;
}
}
.catogsecnew{
	.tabBlock{position: relative;}
	.tabBlock-tabs {    border: 1px solid #e0e0e0;
    text-align: left;
    width: 25%;position: relative;    padding-top: 45px;
		float: left;
		.tabBlock-tab{width: 100%; float: left; text-align: left;padding: 7.5px 0px 7.5px 40px;background: url(../images/product-list2.png) no-repeat left 9px center;border-bottom:1px solid #f4f4f4;
		&:after{display: none;}
		}
}
.tabBlock-content{width: 73%; float: right;    background: #fff;    padding: 20px 50px;
h2.headr{color: $green; margin-bottom: 0px;}
ul{
	li{
		width: 100%;
    float: left;
    background: url(../images/product-list.png) no-repeat 0 9px;
    padding: 7.5px 0px 7.5px 35px;
		 text-align: left;
		a{color: #000;
			font-size: 14px;
			text-decoration: none;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-ms-transition: all 0.4s;
			-o-transition: all 0.4s;
			transition: all 0.4s;
		&:hover{padding-left: 5px;
			color: #009209;}
		}
	}
}
}
}
.posihead {
	background: #009209;
    color: #fff;
    font-size: 17px;
    font-family: "Raleway-SemiBold";
    text-transform: uppercase;
    float: left;
    text-align: center;
    padding: 0 0px; top: 0px;
    position: absolute;
    width: 25%;
&:after {
    width: 13px;
    height: 13px;
    position: absolute;
    content: '';
    left: -11px;
    top: 0px;
    background: url(../images/prohed-l.png) no-repeat top left;
}
&:before {
    width: 13px;
    height: 13px;
    position: absolute;
    content: '';
    right: -11px;
    top: 0px;
    background: url(../images/prohed-r.png) no-repeat top left;
}
}
img.thumrmr {
	max-width: 40px;
	margin: 0px auto;
	display: -webkit-box;
}
.modal-body.imgpop {
	text-align: center;
	img {
		width: 100%;
		max-width: 300px;
	}
}

.radiobox {
  margin: auto;
	user-select: none;
	
	.cbx {
		position: relative;
		display: block;
		float: left;
		width: 18px;
		height: 18px;
		border-radius: 4px;
		background-color: #606062;
		background-image: linear-gradient(#474749, #606062);
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
		transition: all 0.15s ease;
	}
	.cbx svg {
		position: absolute;
		top: 3px;
		left: 3px;
		fill: none;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke: #fff;
		stroke-width: 2;
		stroke-dasharray: 17;
		stroke-dashoffset: 17;
		transform: translate3d(0, 0, 0);
	}
	.rdo {
		position: relative;
		display: block;
		float: left;
		width: 18px;
		height: 18px;
		border-radius: 10px;
		background-color: #cccccc;
    background-image: linear-gradient(#dcdcdc, #dedede);
		box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), inset 0 -1px 1px rgba(0,0,0,0.15);
		transition: all 0.15s ease;
	}
	.rdo:after {
		content: "";
		position: absolute;
		display: block;
		top: 6px;
		left: 6px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background: #fff;
		opacity: 0;
		transform: scale(0);
	}
	.cbx + span,
	.rdo + span {
		float: left;
		margin-left: 6px; color: #000; font-size: 14px;line-height: 19px;
	}

	label {
		display: inline-block;
		margin: 10px;
		cursor: pointer;
	}
	input[type="radio"] {
		position: absolute;
		opacity: 0;
	}
	input[type="radio"]:checked + .rdo {
		background-color: #606062;
		background-image: linear-gradient(#2e9c21, #108203);
	}
	input[type="radio"]:checked + .rdo:after {
		opacity: 1;
		transform: scale(1);
		transition: all 0.15s ease;
	}
	input[type="checkbox"]:checked + .cbx {
		background-color: #606062;
		background-image: linear-gradient(#2e9c21, #108203);
	}
	input[type="checkbox"]:checked + .cbx svg {
		stroke-dashoffset: 0;
		transition: all 0.15s ease;
	}
	
}

/***************************************************************************************/

@media screen and (max-width: 1230px) {
	.wid{max-width: 1130px;}
	header .logorgt {width:81%;
		.menuD{float: right;}
	.menu li a {font-size: 13px;padding: 10px 13.5px 0 0;}}
	.sec3 .healthtip,.sec3 .nEwsents{width: 50%;}
	.sec3 .healthtip .healthycvr { float: left;width: 67%;}
	.sec3 .nEwsents .newscontent{width: 73%;}
	.bloglist { margin: 22px 0px;width: 100%; float: left;}
	.bloglist li .blogcvr{width: 100%; height: 316px;}
	.bloglist li .blogcvr .blogleft{width: 65%;}
	.bloglist li { width: 49%;margin: 0 1% 0 0; float: left;}
	.bloglist li .blogcvr .blogleft{height: 316px;}
}
@media screen and (max-width: 1184px) {
	.wid{max-width: 1055px;}
	.productslist .prdtname {	padding: 0 10px;}
}
@media screen and (max-width: 1090px) {
	.wid{max-width: 995px;}
	header .logo { width: 13%;}
	header .logorgt {width: 86%;}
	.sec3 .healthtip p { font-size: 14px;}
	.readmore {font-size: 13px;line-height: 19px;}
}
@media screen and (max-width: 1023px) {
	.wid{max-width: 990px;}
}
@media screen and (max-width: 995px) {
	.wid{max-width: 850px;}
	header .logorgt .menu li a{font-size: 11.5px;padding: 10px 11.5px 0 0;}
	.latestnews marquee {float: left; width: 76%;}
	.sec3 .healthtip .healthycvr{width: 62%;}
	.productslist .prdtname{padding: 0px 10px; font-size: 13px;}
	section.abt-bottom {
		background: url(../images/abtbottombg.jpg) no-repeat top right 45.5%;}
		.productSec .product-left .product-lefthead {font-size: 14px;}
		.product-detailsin .productdet-left {width: 44%;}
}
@media screen and (max-width: 874px) {
	.wid{max-width: 750px;}
	header .logorgt .navtop .phnemail {float: right;margin-bottom: 15px;}
	header .logorgt{padding-right: 50px;}
	a.menu-link { position: absolute;top: 35px; right: 55px;}
	header .logorgt .menu li a{ padding: 10px 15px 0 15px;}
	.latestnews span{width: 148px;}
	.aniPos .logorgt {padding: 13px 50px 0 0;}
	.sec3 .nEwsents .newsimg { float: left;height: 65px; width: 65px;}
	.sec3 .healthtip .healthytitle {padding: 21px 10px 20px 10px;}
}
@media screen and (max-width: 767px) {
	.wid{max-width: 480px; padding: 0px 15px; position: relative;}
	header { position: relative;}
	a.menu-link{right: 15px;}
	header .logorgt {padding-right: 0px;width: 100%; text-align: center;padding-top: 10px;}
	header .logorgt .navtop .phnemail,header .logorgt .navtop .logpanel {float: inherit;}
	header .logo { width: 102px; margin: 0px auto;float: inherit;}
	header .logorgt .navtop .phnemail {margin-bottom: 8px;}
	.banner .bannercaptions {margin-top: 28px; width: 100%;}
	.banner .bannercaptions .bannerhead {font-size: 16px;line-height: 41px;margin-bottom: 0px;text-align: left;}
	.banner .bannercaptions .bannerhead span { font-size: 19px;text-transform: uppercase;line-height: 0;width: 100%;float: left;}
	.readmore {margin-top: 25px;}
	.banner .bannerslide { height: 211px;}
	.banner {height: auto;}
	.latestnews span{font-size: 14px;}
	.latestnews marquee { float: left;width: 66%;}
	.latestnews span { width: 138px;}
	.sec1 { padding: 35px 0 35px;}
	.sec1 p {width: 98%; margin: 22px auto 0px;}
	.productslist li { width: 47.77%; margin-bottom: 20px;}
	.heading { font-size: 23px;}
	.aniPos .logorgt { padding: 13px 0px 0 0;}
	.productslist {margin: 43px 0 0px;}
	.sec3 .healthtip, .sec3 .nEwsents { width: 100%;}
	.bloglist li {width: 100%; margin: 0 0% 20px 0;float: left;}
	.sec2 {padding: 35px 0 35px;}
	.sec3 { margin: 35px 0;}
	.sec4 {padding: 0px 0 0;}
	.sec5 {padding: 35px 0 35px;}
	.testimonialcvr::before {background: url(../images/slidercontrols.png) no-repeat 0 -9px; width: 35px;height: 35px; background-size: 71px;    left: -20px; top: -35px;}
	.testimonialcvr::after { background: url(../images/slidercontrols.png) no-repeat bottom 5px right 0px;right: -20px;bottom:50px; width: 35px;height:35px;background-size: 71px; }
	.testimonialcvr {	width: 90%;}
	footer .fotdrs,footer .qklinks,footer .prdctinks{width: 100%; float: left;}
	footer .copyrgt {  text-align: center;}
	footer .copyrgt p {float: inherit;}
	.social {float: inherit; text-align: center;width: 208px;margin: 0px auto;}
	header.aniPos .logorgt .navtop .phnemail{display: none;}
	.bloglist li .blogcvr{background-repeat:no-repeat; }
	.bloglist li .blogcvr .blogleft { float: left;width: 100%;background: $white;margin-top: 264px;padding: 15px 0px;    height: auto;
	p{margin-bottom: 0px;}
	}
	.bloglist li .blogcvr .bloghed { font-size: 18px; line-height: 27px;}
	.bloglist{margin: 0px;}
	.latestnews::before {height: 40px;width: 31%;}
	.latestnews::after{height: 40px;width: 69%;}
	.latestnews span{height: 40px;padding: 8px 0 0 0; font-size: 12px; width: 105px;}
	.latestnews .newslist li{font-size: 13px;}
	.latestnews marquee { height: 40px;padding: 7px 0 0;}
	.sec3 .nEwsents {padding: 36px 0px 0 0px;}
	.sec3 .healthtip .healthytitle {height: auto;}
	.sec3 .healthtip .healthycvr{width: 100%; float: left;}
	.sec3 .healthtip p { font-size: 14px; margin-bottom: 0px;line-height: 20px;}
	.sec3 .healthtip .readmore {padding: 5px 22px 5px 11px;font-size: 12px; margin: 10px 0 0;float: left;}
	.sec3 .nEwsents{height: auto;}
	.innerbanner {margin-top: 0px;}
	.innersubhead {font-size: 16px;line-height: 25px;}
	.abtsec p {width: 100%;}
	.innercontentarea {
    padding: 35px 0;
}
.innercontentarea {	padding: 30px 0;}
.abtsec{padding-bottom: 30px;}
.abtsec1 {	padding: 30px 0px 0px 0px;}
.abtsec1 .abtsec1-left {width: 100%;}
.abtsec1 .abtsec1-right{width: 100%;}
.innercontentarea2{padding: 30px 0px;}
.innercontentarea2 .incont2-left{width: 100%; float: left;  margin-bottom: 25px;}
.innercontentarea2 .incont2-right{width: 100%; float: left;}
.innercontentarea3 {float: left;	padding: 30px 15px;}
.innercontentarea3 .incont2-left {width: 100%;float: left;text-align: left;padding-left: 0%;}
.innercontentarea3 .incont2-right{width: 100%; float: left;}
section.abt-bottom {background: url(../images/abtbottombg.jpg) no-repeat top right 0px;}
section.abt-bottom .abtbottom-right {	width: 100%;float: left;}
section.abt-bottom {	width: 100%;padding: 50px 0px 15px 0px;}
.productSec .product-left{width: 100%; float: left;    margin-bottom: 17px;}
.productSec .product-right{width: 100%; float: left;}
.productSec .product-right .prodLeftTop .produSerForm .proFrm-left {width: 55%;}
.productSec{padding-top: 0px;}.productSec .product-right .product-listing .productslist li {width: 48.5%;}
.productSec .product-right .product-listing .productslist li:nth-child(3n) {margin-right: 1.5%;}
.productSec .product-right .prodLeftTop .produSerForm .proFrm-right {	font-size: 12px;line-height: 34px;}
.product-detailsin .productdet-left {width: 100%; margin-bottom: 20px;}
.product-detailsin .productdet-right {	width: 100%;float: left;}
.tabBlock-content{padding: 15px;}
.product-detailsin .productdet-right table tr td {padding: 5px 5px;font-size: 13px;}
.activity-main .activiti-full .activiti-left {width: 100%;float: left;}
.activity-main .activiti-full{margin-top: 0px;}
.activity-main .activiti-full .activiti-right {	width: 100%;float: left;}
.gallery-tab .vediolist li {	width: 100%;margin-bottom: 20px;	display: inline-block;}
.tenters-main .tenters-full .stenter-left {width: 100%;}
.tenters-main .tenters-full .stenter-right {width: 100%;}
.contact-main .contact-pers ul li {	width: 47%;}
.contact-main .contact-form .cont-input.split {	width: 100%;float: left;}
.login-main .login-left {width: 100%;	float: left;}
.login-main .login-right {	float: right;	width: 100%;	margin-top: 15px;}
header .logorgt .menu li a {	padding: 0px 15px 0 15px;}
.news-box {float: left;	width: 100%;}
.news-details .news-main .ImageWrapper {	width: 100%;float: left;position: relative;}
.news-details .news-main .news-content {width: 100%;float: left;}
.ImageWrapper:hover .StyleLi{margin-bottom:-20px;opacity:1;bottom:40%;visibility:visible;}
.blog-img{width: 100%; float: left;}
.blog-details{width: 100%; float: left; margin-top: 20px;}
}
@media screen and (max-width: 479px) {
	.wid{max-width: 432px;}
	.productSec .product-right .prodLeftTop .produSerForm .proFrm-left {width: 100%;	margin-bottom: 10px;}
}
@media screen and (max-width: 431px) {
	.wid{max-width: 100%; padding: 0px 15px;}
	.productslist li {width: 100%;margin-right: 0px;}
	.latestnews marquee { float: left; width: 63%;}
	.bloglist li .blogcvr .blogleft {margin-top: 225px;}
	footer .qklinks li a, footer .prdctinks li a{font-size: 13px;}
	footer .copyrgt p {font-size: 13px;}
	.productSec .product-right .product-listing .productslist li { width: 100%;}
	.contact-main .contact-pers ul li {	width: 100%;}
	.innerbanner .innerheading { font-size: 19px;}
}
@media screen and (max-width: 359px) {}